.fr-background-default-grey {
  background-color: var(--background-default-grey);
}

.fr-background-contrast--blue-france {
  background-color: var(--background-contrast-blue-france) !important;
}

/* css liÃ© Ã  l'affichage de l'index des Ã©lections publiÃ©es */
img.index-election,
img.logo-election {
  object-fit: contain;
  max-height: 120px;
  max-width: 180px;
}

/* fin css index elections */

/* css liÃ© Ã  la div pour l'affichage du logo de l'Ã©lection */
.div-logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-logo-title a, .logo-election-index {
  background-image: none;
}

/* fin css div logo */

/* Partie informations (etat de l'election + libelle lieu geographique */
.etat-election-lieu-geographique {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* css liÃ© Ã  la pagination par initiale */
.fr-pagination__list {
  justify-content: center;
}

/* fin css pagination par initiale */

/* css footer pour cacher les titres */
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

/* fin css footer pour cacher les titres */

.mb-2 {
  margin-bottom: 2rem;
}

/* Ã©vite un rectangle noir lorsqu'on sÃ©lectionne un dÃ©partement inactif sur la carte, avec Chrome */
#container-map > svg > g > path {
  outline: unset;
}

/* css pour mettre le footer en bas de page */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

/* fin css pour mettre le footer en bas de page */

.text-align-center {
  text-align: center;
}

.main-title-index-elections {
  margin-bottom: 0;
}

#block-elections-suiveznoussurnosreseauxsociaux {
  margin-top: 40px;
}

/* css pour les logos du ministÃ¨re et les adresses de contact */
.fr-highlight,
.fr-logo {
  white-space: pre-line;
}

/* fin css pour les logos du ministÃ¨re et les adresses de contact*/

/* css pour gÃ©rer le scroll des tableaux en cas de reflow */
@media screen and (min-width: 700px) {
  .sie-table-layout-fixed table {
    display: table;
    table-layout: fixed
  }
}

@media screen and (min-width: 500px) {
  .sie-table-medium-layout-fixed table {
    display: table;
    table-layout: fixed
  }
}

@media screen and (min-width: 400px) {
  .sie-table-small-layout-fixed table {
    display: table;
    table-layout: fixed
  }
}